
<!-- Footer -->
<div id="footer">
    <div class="container">
        {% if page.layout == "home" %}
        <div class="row">
            <section class="col-12 col-12-mobile">
                <header>
                    <h3>Bluesky Feed</h3>
                </header>

                <bsky-embed
                    username="tgagwcaga.bsky.social"
                    limit="1"
                >
                </bsky-embed>
            </section>
        </div>
        <hr />
        {% endif %}
        <div class="row">
            <div class="col-12">
                <section class="contact">
                    <header>
                        <h3>Want Social media?</h3>
                    </header>
                    <p>Find us on a select few:</p>
                    <ul class="icons">
                        <li><a href="https://bsky.app/profile/tgagwcaga.bsky.social" class="icon fa-brands fa-bluesky"><span class="label">BlueSky</span></a></li>
                        <li><a href="https://www.youtube.com/@TGAGWCAGA" class="icon fa-brands fa-youtube"><span class="label">YouTube</span></a></li>
                    </ul>
                </section>

                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; The Game Awards for Games Who Can't Afford the Game Awards. All rights reserved.</li><li>Design based on <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="{{ '/assets/js/jquery.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.dropotron.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.scrolly.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.scrollex.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/browser.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/breakpoints.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/util.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
