<div id="header">
    <div class="inner">
        <header>
            <h1>Entry #{{page.steamid}}</h1>
            <p>{{ page.genres | array_to_sentence_string }}</p>
        </header>
    </div>

    {% include nav.html %}
</div>

<div class="wrapper style1">

    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-mobile" id="sidebar">
                {% if page.developers %}
                <h3>Development</h3>
                <p>{{ page.developers | array_to_sentence_string }}</p>
                {% endif %}
                {% if page.developers %}
                <h3>Publishing</h3>
                <p>{{ page.publishers | array_to_sentence_string }}</p>
                {% endif %}
                {% if page.release_date.coming_soon %}
                <h3>Will release in</h3>
                <p>{{page.release_date.date}}</p>
                {% else %}
                <h3>Released on</h3>
                <p>{{page.release_date.date}}</p>
                {% endif %}
                <hr class="first" />
                <h3>Steam link</h3>
                <p><a href="https://store.steampowered.com/app/{{ page.steamid }}">#{{ page.steamid }}</a></p>
                {% for movie in page.movies %}
                <section>
                    <header>
                        <h3><a href="{{ movie.webm.max }}">{{ movie.name }}</a></h3>
                    </header>
                    <p class="thumb">
                        <a href="{{ movie.webm.max }}" class="image fit" data-poptrox="iframe,1200x800"><img src="{{ movie.thumbnail }}" alt="{{movie.name}}" /></a>
                    </p>
                </section>
                <hr />
                {% endfor %}
                <section>
                    <header>
                        <h3>Screenshots</h3>
                    </header>
                    <div class="row gtr-50">
                        {% for screenshot in page.screenshots %}
                        <div class="col-4 thumb">
                            <a href="{{ screenshot.path_full }}" class="image fit" target="_blank"><img src="{{ screenshot.path_thumbnail }}" alt="Screenshot #{{screenshot.id}}" /></a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>

            <div class="col-8 col-12-mobile imp-mobile" id="content">
                <article id="main">
                    <header>
                        <h2><a href="https://store.steampowered.com/app/{{ page.steamid }}">{{ page.title }}</a></h2>
                        <p>
                            {{ page.description }}
                        </p>
                    </header>
                    <a href="#" class="image featured"><img src="{{page.image}}" alt="{{game.title}}"></a>
                    <article id="main" class="special">
                        {{ content }}
                    </article>
                    <header>
                        <h2>Buy or wishlist on Steam</h2>
                    </header>
                    <iframe src="https://store.steampowered.com/widget/{{ page.steamid }}/" frameborder="0" width="646" height="190"></iframe>
                </article>
            </div>
        </div>
    </div>
</div>
